<div class="wagtail-userbar-reset">
    <div class="wagtail-userbar wagtail-userbar--bottom-right no-touch" data-wagtail-userbar="">
        <link rel="stylesheet" href="/static/wagtailadmin/css/userbar.css" type="text/css">
        <div class="wagtail-userbar-nav">
            <div class="wagtail-icon wagtail-icon-wagtail wagtail-userbar-trigger" data-wagtail-userbar-trigger="">
                <span class="wagtail-userbar-help-text">Go to Wagtail admin interface</span>
            </div>
            <div class="wagtail-userbar-items">
                
                    <div class="wagtail-userbar__item ">
    <div class="wagtail-action wagtail-icon wagtail-icon-wagtail">
        <a href="/admin/" target="_parent" class="">Go to Wagtail admin</a>
    </div>
</div>

                
                    <div class="wagtail-userbar__item ">
    <div class="wagtail-action wagtail-icon wagtail-icon-folder-open-inverse">
        <a href="/admin/pages/1/" target="_parent">Show in Explorer</a>
    </div>
</div>

                
                    <div class="wagtail-userbar__item ">
    <div class="wagtail-action wagtail-icon wagtail-icon-edit">
        <a href="/admin/pages/3/edit/" target="_parent">Edit this page</a>
    </div>
</div>

                
                    <div class="wagtail-userbar__item ">
    <div class="wagtail-action wagtail-icon wagtail-icon-plus">
        <a href="/admin/pages/3/add_subpage/" target="_parent">Add a child page</a>
    </div>
</div>

                
            </div>
        </div>
        <script src="/static/wagtailadmin/js/userbar.js"></script>
    </div>
</div>