{% extends 'blog/blog_page.html' %}

{% block content %}
        <article class="page type-page status-publish hentry" style="margin-bottom: 1em;">

	<header class="entry-header">
		<h1 class="entry-title">{{ page.title }}</h1>
    </header><!-- .entry-header -->

	<div class="entry-content">
        {% if page.body.raw_text %}
        {{ page.body.raw_text|safe }}
        {% else %}
        {% include "blog/includes/streamfield.html" with content=page.body %}
            </div>
        {% endif %}
    </article>
{% endblock %}