{% load staticfiles %}

<div id="respond" class="comment-respond">
    <form target="_top" action="https://luminouscreaturespress.com/wp-comments-post.php" method="post" id="commentform" class="comment-form">
        <input type="hidden" name="hc_post_as" id="hc_post_as" value="guest" />

        <div class="comment-form-field comment-textarea">
	        <label for="comment">Enter your comment here...</label>
	        <div id="comment-form-comment">
            <textarea id="comment" name="comment" title="Enter your comment here..."></textarea>
            </div>
        </div>

        <div id="comment-form-identity">

	        <div id="comment-form-nascar">
		        <p>Fill in your details below or click an icon to log in:</p>
		        <ul>
			        <li class="selected" style="display:none;">
				        <a href="#comment-form-guest" id="postas-guest" title="Guest">
					    <span></span>
				        </a>
			        </li>
			        <li>
				        <a href="#comment-form-load-service:WordPress.com" id="postas-wordpress" title="WordPress.com">
					    <span></span>
				        </a>
			        </li>
			        <li>
				        <a href="#comment-form-load-service:Twitter" id="postas-twitter" title="Twitter">
					    <span></span>
				        </a>
			        </li>
			        <li>
				        <a href="#comment-form-load-service:Facebook" id="postas-facebook" title="Facebook">
					    <span></span>
				        </a>
			        </li>
		        </ul>
	        </div>

	        <div id="comment-form-guest" class="comment-form-service selected">
		        <div class="comment-form-padder">

				    <div class="comment-form-fields">
				        <div class="comment-form-field comment-form-email">
					        <label for="email">Email <span class="required">(required)</span> <span class="nopublish">(Address never made public)</span></label>
					        <div class="comment-form-input">
                                <input id="email" name="email" type="email" value="" />
                            </div>
				        </div>
				        <div class="comment-form-field comment-form-author">
					    <label for="author">Name <span class="required">(required)</span></label>
					    <div class="comment-form-input">
                            <input id="author" name="author" type="text" value="" />
                        </div>
				    </div>
				        <div class="comment-form-field comment-form-url">
					        <label for="url">Website</label>
					        <div class="comment-form-input">
                                <input id="url" name="url" type="url" value="" />
                            </div>
				        </div>
			        </div>
		        </div>
	        </div>

	        <div id="comment-form-wordpress" class="comment-form-service">
		<div class="comment-form-padder">

				<div class="comment-form-fields">
				<input type="hidden" name="wp_user_id" id="wordpress-user_id" class="comment-meta-wordpress" value="" />
				<input type="hidden" name="wp_access_token" id="wordpress-access_token" class="comment-meta-wordpress" value="" />
				<p class="comment-form-posting-as pa-wordpress"><strong></strong> You are commenting using your WordPress.com account. <span class="comment-form-log-out">(&nbsp;<a href="javascript:HighlanderComments.doExternalLogout( 'wordpress' );">Log&nbsp;Out</a>&nbsp;/&nbsp;<a href="#" onclick="javascript:HighlanderComments.switchAccount();return false;">Change</a>&nbsp;)</span></p>
			</div>

		</div>
	</div>

	        <div id="comment-form-twitter" class="comment-form-service">
		<div class="comment-form-padder">

				<div class="comment-form-fields">
				<input type="hidden" name="twitter_user_id" id="twitter-user_id" class="comment-meta-twitter" value="" />
				<input type="hidden" name="twitter_access_token" id="twitter-access_token" class="comment-meta-twitter" value="" />
				<p class="comment-form-posting-as pa-twitter"><strong></strong> You are commenting using your Twitter account. <span class="comment-form-log-out">(&nbsp;<a href="javascript:HighlanderComments.doExternalLogout( 'twitter' );">Log&nbsp;Out</a>&nbsp;/&nbsp;<a href="#" onclick="javascript:HighlanderComments.switchAccount();return false;">Change</a>&nbsp;)</span></p>
			</div>

		</div>
	</div>

	        <div id="comment-form-facebook" class="comment-form-service">
		<div class="comment-form-padder">

				<div class="comment-form-fields">
				<input type="hidden" name="fb_user_id" id="facebook-user_id" class="comment-meta-facebook" value="" />
				<input type="hidden" name="fb_access_token" id="facebook-access_token" class="comment-meta-facebook" value="" />
				<p class="comment-form-posting-as pa-facebook"><strong></strong> You are commenting using your Facebook account. <span class="comment-form-log-out">(&nbsp;<a href="javascript:HighlanderComments.doExternalLogout( 'facebook' );">Log&nbsp;Out</a>&nbsp;/&nbsp;<a href="#" onclick="javascript:HighlanderComments.switchAccount();return false;">Change</a>&nbsp;)</span></p>
			</div>

		</div>
	</div>

	        <div id="comment-form-googleplus" class="comment-form-service">
		<div class="comment-form-padder">

				<div class="comment-form-fields">
				<input type="hidden" name="googleplus_user_id" id="googleplus-user_id" class="comment-meta-googleplus" value="" />
				<input type="hidden" name="googleplus_access_token" id="googleplus-access_token" class="comment-meta-googleplus" value="" />
				<p class="comment-form-posting-as pa-googleplus"><strong></strong> You are commenting using your Google+ account. <span class="comment-form-log-out">(&nbsp;<a href="javascript:HighlanderComments.doExternalLogout( 'googleplus' );">Log&nbsp;Out</a>&nbsp;/&nbsp;<a href="#" onclick="javascript:HighlanderComments.switchAccount();return false;">Change</a>&nbsp;)</span></p>
			</div>

		</div>
	</div>


	        <div id="comment-form-load-service" class="comment-form-service">
		<div class="comment-form-posting-as-cancel"><a href="javascript:HighlanderComments.cancelExternalWindow();">Cancel</a></div>
		<p>Connecting to %s</p>
	</div>

        </div>


        <input type="hidden" name="jetpack-remote-blogid" value="41800692" />
        <input type="hidden" name="jetpack-remote-action" value="comment-post" />


        <input type="hidden" name="jetpack-remote-comment-nonce" value="b1fefd39a23767e814b0eba06b3ecdf5f27f5368" />

        <script type="text/javascript">
            var highlander_expando_javascript = function(){
	        var input = document.createElement( 'input' ),
	            comment = jQuery( '#comment' );

	        if ( 'placeholder' in input ) {
		        comment.attr( 'placeholder', jQuery( '.comment-textarea label' ).remove().text() );
            }

            // Expando Mode: start small, then auto-resize on first click + text length
            jQuery( '#comment-form-identity' ).hide();
            jQuery( '#comment-form-subscribe' ).hide();
            jQuery( '#commentform .form-submit' ).hide();

            comment.css( { 'height':'10px' } ).one( 'focus', function() {
                var timer = setInterval( HighlanderComments.resizeCallback, 10 )
                jQuery( this ).animate( { 'height': HighlanderComments.initialHeight } ).delay( 100 ).queue( function(n) { clearInterval( timer ); HighlanderComments.resizeCallback(); n(); } );
                jQuery( '#comment-form-identity' ).slideDown();
                jQuery( '#comment-form-subscribe' ).slideDown();
                jQuery( '#commentform .form-submit' ).slideDown();
                });
            }
            jQuery(document).ready( highlander_expando_javascript );
</script>

<div id="comment-form-subscribe">
	<p class="comment-subscription-form"><input type="checkbox" name="subscribe" id="subscribe" value="subscribe" style="width: auto;"/> <label class="subscribe-label" id="subscribe-label" for="subscribe" style="display: inline;">Notify me of new comments via email.</label></p><p class="post-subscription-form"><input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe" style="width: auto;"/> <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog"  style="display: inline;">Notify me of new posts via email.</label></p></div>




<p class="form-submit">
    <input name="submit" type="submit" id="comment-submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='1034' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p>
    </form>
</div>